rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Function to check if the incoming data is a valid Article
    function isValidArticle(data) {
      return data.keys().hasAll(['author', 'title', 'description', 'urlToImage', 'publishedAt', 'content']) &&
             (!data.keys().hasAny(['id']) || data.id is number) &&
             data.author is string &&
             data.title is string &&
             data.description is string &&
             (!data.keys().hasAny(['url']) || data.url is string) &&
             data.urlToImage is string &&
             data.publishedAt is string &&
             data.content is string;
    }

    match /articles/{articleId} {
      allow read: if true;
      allow create: if request.auth != null && isValidArticle(request.resource.data);
      allow update: if request.auth != null && isValidArticle(request.resource.data);
      allow delete: if request.auth != null;
    }
  }
}