rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /media/articles/{allPaths=**} {
      allow read, write: if true;
    }
    
    match /user_profiles/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}